.button {
    background-color: #b8a9c9;
    border: none;
    color: #622569;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 30px;
    font-weight: bold;
}

a {
    color: grey;
    text-decoration: none;
    padding: 12px;
    text-align: center;
}

a:hover {
    background-color: white;
    color: black;
}

a:link {
    text-decoration: none;
    color: grey;
    font-size: 22px;
}

.navbar {
    font-size: 18px;
    background-color: #C9EFC7;
    font-weight: bold;
}

/* body  */

.middle-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    margin: 10px;
}

.material-symbols-outlined {
    /* Home button */
    font-variation-settings: 'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
    font-size: 50px;
    text-align: center;
    display: block;
}

footer {
    display: flex;
    background-color: #C9EFC7;
    justify-content: space-around;
}


button {
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
}

/* Star */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* History */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.welcome-banner {
    width: 70%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 0px;
    margin: 0 auto;
}

.welcome-banner>p {
    padding-top: 20px;
}